body {
  color: white;
  background-color: #E3E1E3;
  font-family: monospace;
}

.button {
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
  font-size: x-large;
  height: 31px;
  margin: 10px 20px;
  padding: 10px 30px 0;
  text-align: center;
  text-decoration: none;
  width: 40px;

  &:hover {
    box-shadow: 5px 10px 15px rgba(255, 255, 0, 0.4);
    font-weight: bold;
  }
}

.disabled {
  background-color: #E84A5F;

  &:hover {
    background-color: #FF847C;
  }
}

.enabled {
  background-color: #99B898;

  &:hover {
    background-color: #A8E6CE;
  }
}

.done {
  background-color: #363636;

  &:hover {
    background-color: #594F4F;
  }
}

div.selected {
  background-color: #EDE574;
  color: black;

  &:hover {
    background-color: #F9D423;
  }

  &:active {
    color: #363636;
  }
}

div.progress {
  float: right;
  margin: 15px 30px 0 0;
}

.highlight {
  color: yellow;
  font-weight: bold;

  &-red {
    box-shadow: 5px 10px 15px rgba(236, 32, 73, 0.4);
  }

  &-blue {
    box-shadow: 5px 10px 15px rgba(45, 0, 250, 0.4);
  }
}

.semester {
  display: flex;
  padding: 15px;

  & .title {
    color: #363636;
    font-size: xx-large;
    margin: auto 20px;
  }
}

.section {
  display: inline-table;
  max-width: 65%;

  &-title {
    border: 3px groove;
    color: #363636;
    font-size: xx-large;
    margin-left: 35px;
    max-width: fit-content;
    padding: 15px;
    text-transform: uppercase;
  }

  &.side {
    position: absolute;
    right: 0;
    top: 175px;
    width: 35%;

    & .section-title {
      margin: 15px 35px 25px auto;
    }

    & hr {
      max-width: 85%;
    }
  }

  & .exam {
    color: #363636;
    cursor: pointer;
    font-size: large;
    margin-left: 75px;
    padding: 15px 0;

    & .name {
      text-decoration: underline;
    }

    & .date {
      font-size: medium;
      text-transform: capitalize;
    }
  }
}

.hidden {
  display: none;
}

#add-exam-modal {
  background-color: #efedef;
  border: 3px groove;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
  height: 220px;
  position: absolute;
  right: 29%;
  top: 200px;
  width: 35%;
  z-index: 1000;

  & button {
    background-color: transparent;
    border: none;
    bottom: 13px;
    color: darkgray;
    cursor: pointer;
    font-size: medium;
    position: absolute;
    right: 13px;
    text-transform: uppercase;
  }

  & .close {
    color: #363636;
    cursor: pointer;
    font-family: sans-serif;
    font-size: x-small;
    padding: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
  }

  & input, select {
    background-color: transparent;
    border: none;
    border-bottom: 2px groove;
    border-radius: 0;
    color: darkgray;
    font-size: x-large;
    height: 30px;
    margin: 20px;
    width: 85%;
  }

  & select {
    appearance: none;
    -webkit-appearance: none;
  }
}

.add-exam {
  background-color: transparent;
  border: 2px groove;
  color: #777777;
  cursor: pointer;
  font-size: medium;
  font-weight: 300;
  margin: 10px 0 0 75px;
  padding: 5px;
  text-transform: uppercase;
}